/*Sola Normalize*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

img {
		max-width: 100%;
		display: block;
		height: auto;
}

button,
[role="button"] {
  cursor: pointer;
}

button {
	background-color: transparent;
	padding: 0;
	border-width: 0;
	border-style: 0;
	border-color: transparent;
}

button:focus {
  outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Sola Utility Classes*/

a.cover-link {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0
}

.color-overlay {
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.54); /*Change this line if project requires different color or gradient*/
  content: '';
  position: absolute;
  z-index: -1;
}

.background-image-wrapper {
	/*The element containing this class also needs a height set. You can target the element or add a sibling class. Height can be set by padding, min-height, or height, depending upon specific case. The element containing this class needs an <img> with the class .background-image.*/
  position: relative;
  overflow: hidden;
}

img.background-image {
	/*The parent of the <img> needs to have the .background-image-wrapper class as well as a height set (can be set by padding, min-height, or height, depending upon specific case*/
	transform: scale(1);
  transition: transform 1.5s;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background-image-wrapper > img.background-image {
	transform: scale(1.05);
}

/* Must Style */

*::selection /*Can adjust values as needed. This changes highlighte text. */ {
	background-color: #222222; /*Change to Primary Color*/
	color: #ffffff; /*Change if necessary*/
}

html.js-noscrol,
body.js-noscroll {
  overflow: hidden;
}

.featured-gallery ul > li {
  width: 300px;
  height: 300px;
}

img {
  object-fit: contain;
}

.popup-slider {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
}

.popup-slider.js-active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.popup-archive {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.close-gallery-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: #fff;
  padding: 20px;
  z-index: 500;
  text-transform: uppercase;
}

.popup-figcaption {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  height: 50px;
  color: #fff;
}

.gallery-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  display: none;
  position: absolute;
  font-size: 20px;
  color: #fff;
  top: 50%;
  z-index: 100;
  padding: 10px;
  background-color: #bf2e1a;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.prev.js-active,
.next.js-active {
  display: block;
}

.prev:hover,
.next.hover {
  background-color: cadetblue;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}